<footer class="footer">
	<div class="footer-container">
		<div class="footer-logo">
			<a href="https://sfb1996.github.io/cookbook/{% if site.url == 'https://sfb1996.github.io/cookbook' and page.url == '/' %}#" data-scroll{% else %}"{% endif %} aria-label="">{% include custom/logo.html %}</a>
		</div>
		<div class="footer-navigation">
			<div class="footer-links">
				<h4 class="footer-title">{{ site.title }}</h4>
				<nav>
					{% include core/navigation.html %}
				</nav>
			</div>
	</div>
</footer>
