---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.recipies.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Recipies" }}</h2>
    <ul class="post-list">
      {%- for recipe in site.recipies -%}
      <li>
        <article>
          <a href="{{ site.baseurl }}{{ recipe.url }}" title="{{ recipe.title }}">
            <div class="list-body">
              <span class="list-category category">{{ recipe.category }}</span>
              <h3 class="list-header title">{{ recipe.title }}</h3>
            </div>
          </a>
        </article>
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
