---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.recipes.size > 0 -%}
    <ul class="list">
        {% assign recipes = site.recipes | where: "lang", page.lang %}
        {% assign sortable_list = "" | split: "" %}

        {% for recipe in recipes %}
            {% assign sort_key = recipe.category | append: "-" | append: recipe.title %}
            {% assign line = sort_key | append: "||" | append: recipe.url %}
            {% assign sortable_list = sortable_list | push: line %}
        {% endfor %}
        {% assign sorted_recipes = sortable_list | sort %}

        {% for item in sorted_recipes %}
            {% assign parts = item | split: "||" %}
            {% assign recipe_url = parts[1] %}
            {% assign page = site.recipes | where: "url", recipe_url | first %}
      <li class="list-recipe">
        <article>
          <a href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}">
            <div class="list-body">
              <h3 class="list-header title">{{ page.title }}</h3>
              {% include custom/meta.html %}
            </div>
          </a>
        </article>
      </li>
        {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
